main {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 3px;
    align-items: center;
    justify-content: center;
}

app-square {
    border: 1px black solid;
    height: 150px;
}

div {
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: 300px;
    align-items: center;
    justify-content: center;
}

#newGame {
    max-width: 200px;
    margin-bottom: 15px;
    grid-template-columns: 150px 150px 150px;
    align-items: center;
    justify-items: center;
}