main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 3px;
    align-items: center;
    justify-content: center;
    max-width: 375px;
}

app-square {
    border: 1px black solid;
    height: 125px;
}

div {
    display: grid;
    grid-template-columns: 350px;

}

#newGame {
    max-width: 200px;
    margin-bottom: 15px;
    grid-template-columns: 150px 150px 150px;
    align-items: center;
    justify-items: center;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}